<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Test</title>
    <style>
   div {
    padding: 5px; /* Поля вокруг текста */
    margin-bottom: 5px; /* Отступ снизу */
   }
   #left { text-align: left; }
   #right { text-align: right; }
   #center { text-align: center; }
   .content {
    border: 1px solid black; /* Параметры рамки */
    padding: 5px; /* Поля вокруг текста */
    margin-bottom: 5px; /* Отступ снизу */
   }
    p.class1 { font-size: 200%; }
  </style>
</head>
<body>
    <div style="float: left;">
        <h1>Схема 9-го этажа</h1>
        <img src="static/images/scheme_9level.jpg" height="500" alt="9_level">
    </div>
    <div style="text-align: center;" >
        <p class="class1">{{ message }}</p>
    </div>
    <div style="float: right;">
        <div id="center">
        <div class="content">
        <h2>Список посетителей</h2>
        <table>
             <caption>Количество людей на этаже: {{ on_floor }}</caption>
             <thead><th>Id</th><th>Имя</th><th>Кабинет</th></thead>
            {% for id, person in data%}
                <tr>
                    <td>{{ id }}</td><td>{{ person[0] }}</td><td>{{ person[1] }}</td>
                </tr>
            {% endfor %}

        </table>
        </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='scipt.js') }}"></script>
</html>